<h2>Total Shipping Cost:</h2>
<p>$<%= shippingCost %></p>
<h2>Package Details:</h2>
<p>Package Type:</p>
<% if(packageDetails.mailType == 'largeEnvelopeFlats'){ %>
<p>Large Envelope (Flats)</p>
<% } else if(packageDetails.mailType == 'letterStamped'){ %>
<p>Letter (Stamped)</p>
<% } else if(packageDetails.mailType == 'letterMetered'){ %>
<p>Letter (Metered)</p>
<% } else if(packageDetails.mailType == 'firstClassPackage-Retail'){ %>
<p>First-Class Package Service—Retail</p>
<% } %>
<p>Weight (oz.):</p>
<p><%= packageDetails.weightOz %></p><br>